<div class="container">
    <div class="row">
      <!-- Right Column (Text Column) -->
      <div class="col-md-12">
        <div class="text-center">
          <h2>Heading</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id justo eu purus mollis luctus.
            Nullam at metus sit amet nunc congue volutpat sit amet ac orci. Nam efficitur magna et orci
            convallis, et aliquam justo congue. Aenean non urna a leo convallis facilisis at vel ligula.
          </p>
          <button class="btn btn-primary">Read More</button>
        </div>
      </div>
    </div>
  </div>