<!--- Authors: Brett Burcher, Momal Noori-->
<!--- Geroge Mason University, SWE642, Assignment 3 --->

<!---Description of website--->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">What To Expect</h5>
                    <p class="card-text">This website offers an intuitive survey platform where students can easily fill out questionnaires about various topics related to George Mason University. Additionally, users can view aggregated responses from their peers on a dedicated results page, fostering a sense of community and shared learning.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">How Your Input Helps</h5>
                    <p class="card-text">TODO: Describe why surveys are important</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Privacy Statment</h5>
                    <p class="card-text">TODO: Talk about survey privacy.</p>
                </div>
            </div>
        </div>
    </div>
</div>

