<!--- Authors: Brett Burcher, Momal Noori-->
<!--- Geroge Mason University, SWE642, Assignment 3 --->
<!--- Date: 7/15/24 --->
<!---Description of website--->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">What To Expect</h5>
                    <p class="card-text">This website offers an intuitive survey platform where students can easily fill out questionnaires about various topics related to George Mason University. Additionally, users can view aggregated responses from their peers on a dedicated results page, fostering a sense of community and shared learning.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">How Your Input Helps</h5>
                    <p class="card-text">Feedback is essential for a college as it provides valuable insights into the effectiveness of its programs, teaching methods, and overall student experience. By actively seeking and responding to feedback from students, faculty, and staff, a college can continuously improve its services, address concerns, and adapt to evolving educational needs, ultimately enhancing the quality of education and fostering a supportive and dynamic learning environment.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Privacy Statment</h5>
                    <p class="card-text">Your privacy is of utmost importance to us. All surveys collected will be handled with the highest level of respect and confidentiality. We are committed to safeguarding your personal information and ensuring that it is used solely for the purpose of improving our services. Rest assured that your responses will be protected and will not be shared with unauthorized parties.</p>
                </div>
            </div>
        </div>
    </div>
</div>

